@import './font-awesome.min';
@import './variables';
@import './modal';
@import './board';

html {
  line-height: 1.5;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
  scroll-behavior: smooth;

  .col {
    display: inline-block;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: $primary-app-color;
  }

  header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;

    .page-header {
      display: none;
      text-align: center;
      font-size: 40px;
      font-weight: 300;
      color: #fff;
      -webkit-font-smoothing: antialiased;
    }

    .logo-icon {
      background: url(images/trello-logo-white.svg);
      background-size: 80px;
      background-repeat: no-repeat;
      background-position: center;
      height: 50px;
      background-color: rgba(0,0,0,0.1);
    }
  }

  .pane-title {
    margin-bottom: 10px;
  }
  
  .page-container {
    min-height: calc(100vh - 100px);

    .left-pane, .right-pane {
      margin: 5%;
      float: left;
      width: 40%;
      box-sizing: border-box;
    }
    .center-pane {
      margin: 5% 15%;
    }
  }

  footer {
    display: none;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 100;
  }

  .page-error-content {
    color: white;
    font-size: 28px;
    margin-top: 40px;
    text-align: center;
  }
}
